    <!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        //Turning off Number Detection as phone numbers are already links
        %meta(name="format-detection" content="telephone=no")/
        %title Bill's Flower Shop
        <link href="https://fonts.googleapis.com/css2?family=Courgette&family=EB+Garamond&family=Mukta&display=swap" rel="stylesheet"> 
        %link(rel="stylesheet" href="style.css")/
        %script(src="https://kit.fontawesome.com/5f6135a920.js" crossorigin="anonymous")
        %script(defer=true src="script.js")
        
    %body
        %header
            %a.company-logo(href="index.html" tabindex=-1)
                %h1.header-company-name
                    %i.fas.fa-seedling
                    Bill's Flower Shop&#8482;
            %p.header-company-slogan
                %em Providing customized flower arrangements for all occasions since 2020!
            %div.header-contacts
                %p Phone Number: &nbsp;
                    %a(href="tel:+01-780-123-4567" tabindex=1) (780)&nbsp;123&#8209;4567
                %p Email:&nbsp;
                    %a(href="mailto:zquoc@yahoo.ca?subject=Bill%27s%20Flower%20Shop%3A" tabindex=2) zquoc@yahoo.ca
                
                

        %nav
            %ul
                %li 
                    %a(href="#welcome" tabindex=3) Introduction
                %li
                    %a(href="#offerings" tabindex=4) Offerings
                %li
                    %a(href="#about" tabindex=5)  About
                %li
                    %a(href="#contacts" tabindex=6) Contacts
        
        // Button to go TOP of Page
        %button#btnTop(type="button" onclick="topFunction()" title="Go to top of page")
            %i.fas.fa-arrow-up TOP   
        // Button to go back to Kiu's resume page
        %aside
            %a.return-pop-out(href="https://zkiu.github.io/kiu-resume-portfolio/" aria-describedby="return" tabindex=90)
                %i.far.fa-caret-square-left 
                %div#return Return to Kiu's resume page


        %main.container

            %section#welcome
                %div
                    %h2 Bill's Flower Shop Working in Your Community
                    %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ullam cupiditate velit, ducimus corporis, possimus doloribus iste, officiis nemo odio magnam reprehenderit perferendis reiciendis sapiente est quisquam ex. Beatae, qui!



            %article#offerings
                %h2 Flower Arrangements for All Occations  
                %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ullam cupiditate velit, ducimus corporis, possimus doloribus iste, officiis nemo odio magnam reprehenderit perferendis reiciendis sapiente est quisquam ex. Beatae, qui!
                %div.offering-container
                    %section
                        %h3 Blooms for Wedding
                        %img.offering-photo(src="images/annie-spratt-x4YEK7o8L0c-unsplash.jpg" alt="wedding flower arrangement")/
                        %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus voluptas non veritatis harum magni tempore, deserunt, consectetur fuga autem eligendi sapiente. Reprehenderit dolor nam quidem neque, non esse facere.
                        %h4 Click the thumbnails below for example photoes:
                        %div.thumbnail-section
                            %a(href="#" tabindex=7)
                                %img.thumbnail(src="images/alisa-olaivar-5bjgzAPKzpI-unsplash-CROPPED.jpg" alt="wedding flower example")/
                            %a(href="#" tabindex=8)
                                %img.thumbnail(src="images/alisa-olaivar-5bjgzAPKzpI-unsplash-CROPPED.jpg" alt="wedding flower example")/
                            %a(href="#" tabindex=9)
                                %img.thumbnail(src="images/alisa-olaivar-5bjgzAPKzpI-unsplash-CROPPED.jpg" alt="wedding flower example")/
                            %a(href="#" tabindex=10)
                                %img.thumbnail(src="images/alisa-olaivar-5bjgzAPKzpI-unsplash-CROPPED.jpg" alt="wedding flower example")/

                    %section
                        %h3 Coming of Age Celebrations
                        %img.offering-photo(src="images/sindy-strife-unsplash.jpg" alt="sweet sixteen celebration")/
                        %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus voluptas non veritatis harum magni tempore, deserunt, consectetur fuga autem eligendi sapiente. Reprehenderit dolor nam quidem neque, non esse facere.
                        %h4 Click the thumbnails below for example photoes:
                        %div.thumbnail-section
                            %a(href="#")
                                %img.thumbnail(src="images/alisa-olaivar-bFQQ5kDSzEE-unsplash-CROPPED.jpg" alt="special occassion flower" tabindex=11)/
                            %a(href="#")
                                %img.thumbnail(src="images/alisa-olaivar-bFQQ5kDSzEE-unsplash-CROPPED.jpg" alt="special occassion flower" tabindex=12)/
                            %a(href="#")
                                %img.thumbnail(src="images/alisa-olaivar-bFQQ5kDSzEE-unsplash-CROPPED.jpg" alt="special occassion flower" tabindex=13)/
                            %a(href="#")
                                %img.thumbnail(src="images/alisa-olaivar-bFQQ5kDSzEE-unsplash-CROPPED.jpg" alt="special occassion flower" tabindex=14)/



            %section#about
                %h2 About the Florist
                %div.about-container
                    %img(src="images/person-placeholder.jpg" alt="Picture of the owner")/
                    %div
                        %figure
                            %q We provide the right flowers to mark your important life moments. Please reach out to me and we can discuss what you are looking for. I'll be happy to help.
                            %figcaption &#45; Bill
                        %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ullam cupiditate velit, ducimus corporis, possimus doloribus iste, officiis nemo odio magnam reprehenderit perferendis reiciendis sapiente est quisquam ex. Beatae, qui!

        %footer#contacts
            %div#contacts-traditional    
                %h3 Contact Bill:
                %p Phone&nbsp;Number: &nbsp;
                    %a(href="tel:+01-780-123-4567" tabindex=15) (780)&nbsp;123&#8209;4567
                %p Email: &nbsp;
                    %a(href="mailto:zquoc@yahoo.ca?subject=Bill%27s%20Flower%20Shop%3A" tabindex=16) zquoc@yahoo.ca
            
            %div#credits-kiu
                //Photo credit for where i pull down the pictures
                %h3 Website by:
                %a#resume-button(href="https://zkiu.github.io/kiu-resume-portfolio/" aria-describedby="return") Kiu Q
            
            %div#credits-others    
                %h3 Photos by:
                <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@anniespratt?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Annie Spratt"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Annie Spratt</span></a>
                <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@allyssaolaivart?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Alisa Olaivar"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Alisa Olaivar</span></a>
                <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@sindystrife?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Sindy Strife"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Sindy Strife</span></a>
            
            %div#contacs-social    
                %h3 Follow&nbsp;us:
                %a(href="https://twitter.com/")
                    %i.fab.fa-twitter
                %a(href="https://facebook.com/")
                    %i.fab.fa-facebook
                %a(href="https://instagram.com/")
                    %i.fab.fa-instagram
        