<!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Flower Shop
        %link(rel="stylesheet" href="style.css")
        -# %script(defer src="index.js")
        
    %body
        %header
            %a(href="index.html")
                %img.header-company-logo(src="https://via.placeholder.com/50" alt="company logo")/
                %p.header-company-name Bill's Flower Shop
                %p.header-company-slogan Keeping events in full bloom since 2020