    <!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Bill's Flower Shop
        %link(rel="stylesheet" href="style.css")/
        %script(src="https://kit.fontawesome.com/5f6135a920.js" crossorigin="anonymous")
        %script(defer=true src="script.js")
        
    %body
        %header
            %a.company-logo(href="index.html")
                %h1.header-company-name
                    %i.fas.fa-seedling
                    Bill's Flower Shop
            %p.header-company-slogan Providing customized flower arrangements for all occasions since 2020!
            %div.header-contacts
                %p Phone Number: (780) XXX-XXXX
                %p Email:&nbsp;
                    %a(href="mailto:zquoc@yahoo.ca?subject=Bill%27s%20Flower%20Shop%3A") zquoc@yahoo.ca
                
                

        %nav
            %ul
                %li 
                    %a(href="#welcome") Home
                %li
                    %a(href="#offerings") Offerings
                %li
                    %a(href="#about")  About
                %li
                    %a(href="#contacts") Contacts
        
        
        %button#btnTop(type="button" onclick="topFunction()" title="Go to top of page")
            %i.fas.fa-arrow-up TOP   
        
        %aside
            %a.return-pop-out(href="https://zkiu.github.io/kiu-resume-portfolio/")
                %i.far.fa-caret-square-left 
                %div Return to Kiu's resume page


        %main.container

            / Button to go back to resume page
            


            %section#welcome
                %h2 Bill's Flower Shop Working in Your Community
                %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ullam cupiditate velit, ducimus corporis, possimus doloribus iste, officiis nemo odio magnam reprehenderit perferendis reiciendis sapiente est quisquam ex. Beatae, qui!



            %article#offerings
                %h2 Flower Arrangements for All Occations  
                %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ullam cupiditate velit, ducimus corporis, possimus doloribus iste, officiis nemo odio magnam reprehenderit perferendis reiciendis sapiente est quisquam ex. Beatae, qui!
                %div.offering-container
                    %section
                        %h3 Blooms for Wedding
                        %img(src="https://via.placeholder.com/200x200" alt="wedding flower")/
                        %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus voluptas non veritatis harum magni tempore, deserunt, consectetur fuga autem eligendi sapiente. Reprehenderit dolor nam quidem neque, non esse facere.
                        %div
                            %a(href="#")
                                %img(src="https://via.placeholder.com/100x100" alt="wedding flower example")/
                            %a(href="#")
                                %img(src="https://via.placeholder.com/100x100" alt="wedding flower example")/
                            %a(href="#")
                                %img(src="https://via.placeholder.com/100x100" alt="wedding flower example")/
                            %a(href="#")
                                %img(src="https://via.placeholder.com/100x100" alt="wedding flower example")/
                    %section
                        %h3 Coming of Age Celebrations
                        %img(src="https://via.placeholder.com/200x200" alt="sweet sixteen celebration")/
                        %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus voluptas non veritatis harum magni tempore, deserunt, consectetur fuga autem eligendi sapiente. Reprehenderit dolor nam quidem neque, non esse facere.
                        %div
                            %a(href="#")
                                %img(src="https://via.placeholder.com/100x100" alt="birthday flower example")/
                            %a(href="#")
                                %img(src="https://via.placeholder.com/100x100" alt="birthday flower example")/
                            %a(href="#")
                                %img(src="https://via.placeholder.com/100x100" alt="birthday flower example")/
                            %a(href="#")
                                %img(src="https://via.placeholder.com/100x100" alt="birthday flower example")/


            %section#about
                %h2 About the Florist
                %img(src="https://via.placeholder.com/150x250" alt="Photo of Bill")/
                %blockquote We provide the right flowers to mark your important life moments. Please reach out to me and we can discuss what you are looking for, no strings attached.
                %p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat ullam cupiditate velit, ducimus corporis, possimus doloribus iste, officiis nemo odio magnam reprehenderit perferendis reiciendis sapiente est quisquam ex. Beatae, qui!

        %footer#contacts
            %div#contacts-traditional    
                %h3 Contact Us
                %p Phone Number: (780) XXX-XXXX
                %p Email:
                %a(href="mailto:zquoc@yahoo.ca?subject=Bill%27s%20Flower%20Shop%3A") zquoc@yahoo.ca
            %div#contacs-social    
                %h3 Follow us:
                %a(href="https://twitter.com/")
                    %i.fab.fa-twitter
                %a(href="https://facebook.com/")
                    %i.fab.fa-facebook
                %a(href="https://instagram.com/")
                    %i.fab.fa-instagram
        