html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.return-pop-out {
    display: block;
    position: fixed;
    right: 0;
    top: 20%;
    background-color: rgba(255, 208, 0, 0.9);
    border: 1px solid orange;
    border-right: none;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
        i {
            font-size: 2em;
            margin: 5px;
        }
        div {
            font-size: 1em;
            display: none;
            margin-right: 5px;
            -ms-transform: translateY(-40%);
            transform: translateY(-40%)
        }
        &:hover {
            background-color: lighten(rgba(255, 208, 0, 0.9), 10%);
            div {
                display: inline-block;
            }   
        }
    }

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}