@import "scss/normalize";
@import "scss/variables";
// @import "scss/animate";
@import "scss/include-media";
@import "scss/mixins";
@import "scss/_grid-layout";

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: $main-background-color;
    
    @include media('>phone'){
        background: red;
    }
    @include media('>=tablet'){
        background: green;
    }
    @media screen and (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

    
// Company logo at header
.company-logo {
    text-decoration: none;
    color: lighten($header-font-color, 10%);
    display: block;
    
    h1 {
        font-size: 2.5em;
        margin: auto;
        padding: 10px 0;
        width: fit-content;border-bottom: 1px double $header-font-color;
    } 
}

.header-contacts {
    margin: 0;
    color: lighten($header-font-color, 10%);
    font-size: 1.3em;
    p:first-child {
        padding-top: 5px;
    } 
    p {
        margin: 0;
        padding-bottom: 5px;
        padding-left: $overall-left-side-gap;
    }
    a {
        text-decoration: none;
        color: $header-font-color;
    }
}

nav ul {
    list-style-type: none;
    background-color: $color-pale-pink;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    padding-left: $overall-left-side-gap;
    li {
        padding-top: 1px;
        padding-bottom: 1px;
        border-bottom: 1px dotted #000;
        margin-right: $overall-left-side-gap;
        &:last-child {
            border-bottom: none;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
        
        &:visited {
            color: inherit;
        }
    }
}

// #welcome {
//     background-color: paleturquoise;
// }


// TO DO: bigger screens, grid tab order, aria, move top button to top of viewport