@import "scss/normalize";
@import "scss/variables";
// @import "scss/animate";
@import "scss/include-media";
@import "scss/mixins";
@import "scss/_grid-layout";

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: $main-background-color;
}

    
//  HEADER WITH COMPANY LOGO
.company-logo {
    text-decoration: none;
    color: lighten($header-font-color, 10%);
    display: block;
    
    h1 {
        font-size: 2.5em;
        margin: auto;
        padding: 10px 0;
        width: fit-content;border-bottom: 1px double $header-font-color;
    } 
}

.header-contacts {
    margin: 0;
    color: lighten($header-font-color, 10%);
    font-size: 1.3em;
    p:first-child {
        padding-top: 5px;
    } 
    p {
        margin: 0;
        padding-bottom: 5px;
        padding-left: $overall-left-side-gap;
    }
    a {
        text-decoration: none;
        color: $header-font-color;
    }
}

//  NAVIGATION AREA
nav ul {
    list-style-type: none;
    background-color: $color-pale-pink;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    padding-left: $overall-left-side-gap;
    li {
        padding-top: 1px;
        padding-bottom: 1px;
        border-bottom: 1px dotted #000;
        margin-right: $overall-left-side-gap;

        &:last-child {
            border-bottom: none;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
        
        &:visited {
            color: inherit;
        }
    }
}

//  WELCOME SPLASH --------------

#welcome {
    //  BACKGROUND image settings
    background:
      // Transparent filter over an image, faked with gradient */
      linear-gradient(rgba(255, 0, 0, 0.1),rgba(0, 0, 0, 0.6)),
      url("images/annie-spratt-01Wa3tPoQQ8-CROPPED.jpg"); //would use different sizes of the same image depending on screen size if this was an official production, which would increase page loading speed
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    
    // width: $max-page-width;
    height: 50vh;

    //To make the text vertically centered (because we need to make this anything by static positioned for the absolute position below to have a frame of ref) - part 1/2
    position: relative;

    div {
        //To make the text vertically centered - part 2/2
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        //To vertically center the text
        display: flex;
        flex-direction: column;
        justify-content: center;

        overflow: hidden;

        min-height: 60%;
        width: 90%;
        background: rgba(0, 0, 0, 0.85);
        color: $header-font-color;
        margin: auto;
        text-align: center;
        border-radius: $border-radius-typical;
        }
        h2 {
            margin: 0;
        }
}


//  OFFERINGS PAGE --------------

#offerings {
    color: lighten($header-font-color, 0%);
    //add more breathing room between the offering section and contact section an the breakpoint below
    @include media('>#{$breakpoint-about-section}') {
        margin-bottom: 10px;
    }
}

.offering-photo {
    width: 100%;
    height: auto;

}

.thumbnail-section{
    a {
        width: $thumbnail-size;
        height: $thumbnail-size;
        margin-bottom: 10px;
    }
    .thumbnail {
        width: $thumbnail-size;
        height: $thumbnail-size;
        
        border-radius: 10% 30% 40% 40%;
        &:hover{
            background-color: rgba(255, 255, 255, 0.9);
            top: -5px;
            position: relative;
        }

    }
}


//  ABOUT SECTION --------------

#about {
    background-color: $about-bg-color;
    color: lighten($header-font-color, 10%);
    width: 95%;
    height: fit-content;
    margin: 5% auto;
    border-radius: $border-radius-typical;
    border: 3px single $color-deep-taupe;
    h2 {
        margin-left: $overall-left-side-gap;
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include media(">#{$breakpoint-thumbnail-2col}") {
        flex-direction: row; 
    }
    @include media('>#{$breakpoint-about-section}'){
        flex-direction: column; 
    }
    img {
        width: 200px;
        height: 250px;
        margin: $overall-left-side-gap;
    }
}

figure {
    width: 80%;
    font-style: italic;
    font-size: 1.25em;
}
q {
    // this ensure that smart/directional quotes 
    quotes: "“""”""‘""’";
    &::before {content: open-quote;}
    &::after {content: close-quote;}
}

figcaption {

    text-align: right;
}

p {
    margin: $overall-left-side-gap;
}

//  CONTACTS SECTION --------------

#contacts {
    background-color: $footer-bg-color;
    color: lighten($header-font-color, 10%);
    div {
        margin: $overall-left-side-gap;
        margin-top: 0;
    }
}

#contacts-traditional a {
        text-decoration: none;
        color: $header-font-color;
}

#contacs-social a{
    font-size:  2em;
    color: $header-font-color;
    
}
// TO DO: grid tab order, aria, move top button to top of viewport