body {
    max-width: $max-page-width;
}

.header-company-slogan {
    //this is hidden on phone display for conciseness
    display: none;
    @include media('>=phone') {
        display: block;
    }
}

nav ul {
    display: flex;
    flex-direction: column;  
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
    &>* {
        // single column by default 
        grid-column: 1 / span 12;
    }
}


// for grid debugging
// #welcome {       background-color: paleturquoise;}
// #offerings {    background-color: orange;}
// .offering-container { background-color: blue;}
// #about {    background-color: pink;}



@include media('>phone') {
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #contacts {
        display: flex;
        justify-content: space-between;
    }
}

@include media('>#{$breakpoint-offering-section-split}') {
    //creating 2 columns inside Offerings at higher widths
    .offering-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

@include media('>#{$breakpoint-about-section}') {
    #offerings{
        grid-column: 1 / 10;
    }
    #about {
        grid-column: 10 / 13;
    }
}

.thumbnail-section {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    a {
        justify-self: center;
    }
    @include media(">550px") {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media('>#{$breakpoint-offering-section-split}') {
        grid-template-columns: repeat(2, 1fr);
    }
}

