// media size setup
$breakpoints: (
    'phone': 400px,
    'tablet': 768px,
    'desktop': 1024px
);

/* Coolors Exported Palette - coolors.co/f9e0d9-e6dbd0-7d6167-754f5b-5d4954 */
$color-pale-pink: rgba(249, 224, 217, 1);
$color-bone: rgba(230, 219, 208, 1);
$color-deep-taupe: rgba(125, 97, 103, 1);
$color-deep-taupe-darker: rgba(117, 79, 91, 1);
$color-eggplant: rgba(93, 73, 84, 1);